#poll {
    list-style: none;
    padding-left: 0;
}

.pol_option{
    margin: 20px;
}

.poll-optionname-1 {
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #bc658d;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-2 {
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #82c4c3;
    border-radius: 5px;
    text-align: center;
}
.poll-optionname-3 {
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #393e46;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-4 {
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #f5a7a7;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-5 {
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #e8505b;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-6 {
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #14b1ab;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-7{
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #a2de96;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-8{
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #e79c2a;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-9{
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #b83b5e;
    border-radius: 5px;
    text-align: center;
}

.poll-optionname-10{
    width: auto;
    padding: 7px;
    display: inline-block;
    color: white;
    background: #6a2c70;
    border-radius: 5px;
    text-align: center;
}




.poll-votes{
    width: 80px;
    padding: 7px;
    display: inline-block;
    background-color: gainsboro;
    text-align: center;
    border-radius: 10px;
    text-align: center;
}